<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ipc247">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.giaoviec.ThemGiaoViecActivity"
            android:exported="false" />
        <activity
            android:name=".view.nhanvien.NhanVienTangCaActivity"
            android:exported="false" />
        <activity
            android:name=".view.kho.NhapKhoActivity"
            android:exported="false" />
        <activity
            android:name=".view.kho.BaoHanhActivity"
            android:exported="false" />
        <activity
            android:name=".view.nhanvien.NghiPhepActivity"
            android:exported="false" />
        <activity
            android:name=".view.chamcong.ChamCongActivity"
            android:exported="false" />
        <activity
            android:name=".view.kho.ThongTinPhieuXuatActivity"
            android:exported="false" />
        <activity
            android:name=".view.tienluong.TienLuongActivity"
            android:exported="false" />
        <activity android:name=".system.ImagePickerActivity" />
        <activity android:name=".Ipc247Activity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".view.hethong.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.kho.BarcodeActivity" />
        <activity android:name=".view.kho.XuatKhoTempActivity" />
        <activity android:name=".view.kho.TonKhoActivity" />
        <activity android:name=".view.kho.XuatKhoActivity" />
        <activity android:name=".view.nhanvien.CongTacActivity" />
        <activity android:name=".view.nhanvien.VeSomActivity" />
        <activity android:name=".view.nhanvien.NhanVienActivity" />
        <activity
            android:name=".view.kho.BarcodeScanActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name=".view.kho.BarcodeBaoHanh2Activity"
            android:screenOrientation="sensor" />

        <service android:name=".system.MyFirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".view.bsc.BSCNhanVienActivity" />
        <activity android:name=".view.bsc.ChiTietBSCNhanVienActivity" />
        <activity android:name=".view.bsc.BSCPhongBanActivity" />
        <activity android:name=".view.bsc.ChiTietBSCPhongBanActivity" />
        <activity android:name=".view.bsc.BSCViTriCongViecActivity" />
        <activity android:name=".view.bsc.ChiTietBSCViTriCongViecActivity" />
        <activity android:name=".view.nhanvien.PhepNamActivity" />
        <activity android:name=".view.nhanvien.NhanVienImageActivity" />
    </application>

</manifest>